{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-header">
            05 августа 2022 
        </div>
        <div class="card-body">
            <h5 class="card-title">Почему стоит изучать Python.</h5>
            <p class="card-text">Узнай все самое необходимое!</p>
            <a href="#" class="btn btn-success">Подробнее</a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            05 августа 2022 
        </div>
        <div class="card-body">
            <h5 class="card-title">Почему стоит изучать Python.</h5>
            <p class="card-text">Узнай все самое необходимое!</p>
            <a href="#" class="btn btn-success">Подробнее</a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            05 августа 2022 
        </div>
        <div class="card-body">
            <h5 class="card-title">Почему стоит изучать Python.</h5>
            <p class="card-text">Узнай все самое необходимое!</p>
            <a href="#" class="btn btn-success">Подробнее</a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            05 августа 2022 
        </div>
        <div class="card-body">
            <h5 class="card-title">Почему стоит изучать Python.</h5>
            <p class="card-text">Узнай все самое необходимое!</p>
            <a href="#" class="btn btn-success">Подробнее</a>
        </div>
    </div>
    <br>
    <div class="card">
        <div class="card-header">
            05 августа 2022 
        </div>
        <div class="card-body">
            <h5 class="card-title">Почему стоит изучать Python.</h5>
            <p class="card-text">Узнай все самое необходимое!</p>
            <a href="#" class="btn btn-success">Подробнее</a>
    </div>
</div>>

{% endblock %}